<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reset your password{% endblock %}</title>

    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy0qG2HsuAe9zcu73N7vmGDOH%0D%0A" crossorigin="anonymous">

    <!-- Add your custom CSS styles -->
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }
        input#change_password_form_plainPassword_first {
            margin: 14px;
        }
        input#change_password_form_plainPassword_second{
            margin: 14px;
        }
    </style>
</head>
<body>


{% block body %}
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}

<!-- Add Bootstrap JS and Popper.js scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-XeZR2WiQd2K1r56k5nhgKV2uNytf0Vd9BSZiM3eBzR+cbzBj5cStKU7gFZhGwBQ5" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy0qG2HsuAe9zcu73N7vmGDOH%0D%0A" crossorigin="anonymous"></script>

</body>
</html>